.cell {
    cursor: pointer;
    border: 1px solid black;
    list-style: none;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.game-board ul {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-auto-rows: 50px;
    padding-left: 0;
}

#players-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #000;
}

.name {
    background-color: rgb(3, 14, 0);
    color: #fff;
    box-sizing: border-box;
    padding: 20px;
    font-weight: 900;
}

#scores {
    grid-column: 1/-1;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.score {
    justify-self: center;
    grid-column: 1/-1;
}

.player-score {
    background-color: rgb(3, 14, 0);
    color: #fff;
    justify-self: center;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}